      <!--header section start -->
      <!--header section start -->
      <div class="header_section">
        <div class="container-fluid">
           <div class="row">
              <div class="col-sm-6 col-lg-2">
                 <span  style="font-size:33px;cursor:pointer; color: #ffffff;" onclick="openNav()"><img src="images/toggle-menu.png" class="toggle_menu"></span>
              </div>
              <div class="col-sm-6 col-lg-2">
                 <div class="logo"><a href="/"><img src="images/logo.png"></a></div>
              </div>
              <div class="col-sm-8">
                 <div class="menu_text">
                    <ul>
                       <li class="active"><a href="/">Home</a></li>
                       <li><a href="about">About</a></li>
                       <li><a href="gifts">Our gifts</a></li>
                       <li><a href="shop">Shop</a></li>
                       <li><a href="contact">Contact Us</a></li>
                       <li><a href="#"><img src="images/search-icon.png"></a></li>
                       <li><a href="#"><img src="images/user-icon.png"></a></li>
                       <div id="myNav" class="overlay">
                          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                          <div class="overlay-content">
                             <a href="/">Home</a>
                             <a href="about">About</a>
                             <a href="gifts">Our gifts</a>
                             <a href="shop">Shop</a>
                             <a href="contact">Contact Us</a>
                          </div>
                       </div>
                 </div>
                 </li>
                 </ul>
              </div>
           </div>
        </div>
     </div>
     <!-- header section end -->